asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-allauth
django-heroku
django-storages
gunicorn
idna
jmespath
oauthlib
packaging
pillow
psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
requests
requests-oauthlib
s3transfer
six
sqlparse
typing_extensions
urllib3
whitenoise
freezegun
