asgiref==3.8.1
boto3
botocore
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
dj-database-url==2.3.0
Django==4.2.19
django-allauth==0.61.1
django-heroku==0.3.1
django-storages==1.14.2
gunicorn==21.2.0
idna==3.10
jmespath==1.0.1
oauthlib==3.2.2
packaging==24.2
pillow==10.1.0
psycopg2==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
whitenoise==6.6.0
importlib
python-dotenv==1.0.0 